h1 {
    color: rgb(255, 126, 0);
}

.box {
    height: 100px;
    width: 250px;
    padding: 50px;
    margin: 30px;
    border: 10px solid black;
    background-color: rgba(212, 120, 7, 0.293);

}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.link:hover{
    color: darkblue;
    border: solid black;
}